.hamburger {
  display: flex;

  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 3rem;
  font-size: 2rem;
  background: red;
}
.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}
.active {
  display: flex;

  margin: 0;
  position: fixed;
  top: 0px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 70%;
  min-width: min(100%, 16.875rem);
  max-width: 30rem;
  right: 0px;
  transition: right 300ms ease 0s;
  padding-right: 1rem;
  z-index: 10;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px;
  list-style: none;
  height: 60px;
}
.nav-text > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
  border-radius: 4px;
}
.nav-text a:hover {
  color: blue;
}
.nav-menu-items {
  width: 100%;
  padding-left: 0px;
}
.navbar-toogle {
  width: 10%;
  height: 80px;
  display: flex;

  margin-right: 0 !important;
  border-top: 0px;
}
/* .navbar-toogle::after {
  box-sizing: none;
  margin-right: 0 !important;
}
.navbar-toogle::before {
  box-sizing: none;
  margin-right: 0 !important;
} */
.nav-menu-items > li {
  width: 90%;
  margin: auto;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 0;

  justify-content: space-between;
}

.cross {
  margin-right: 0;
  margin-left: 90%;
}

.nav-menu-items li:hover {
  background-color: rgb(171, 169, 168);
}
.nav-menu-items > li:first-of-type {
  border: none;
  height: 50px !important;
  margin-top: 5px !important;
}
